*{ 
    margin: 0px;

}
header 
{
    width: 90%;margin: auto;overflow: hidden;margin-top: 30px;
}
.logo 
{
    width: 20%;/* background-color: black; */float: left;
}
.logo img 
{

}
.Menu 
{
    width: 50%;/* background-color: green; */float: right;
}
.Menu ul
{
    list-style: none;float: right;overflow: hidden;
}
.Menu ul li 
{
    float: left;margin-left: 30px;
}
.Menu ul li a 
{
    text-decoration: none;color: #626262;text-transform: uppercase;
}




.banner
{
    width: 90%;
    margin: auto;
}
.banner img
{
    width: 100%;
}




.photodiary
{

margin: 85px auto;

width: 80%;
}
.photodiary h5
{
    font-size: 15px;
    text-transform: uppercase;
    color: #b4ad9e;
    margin-bottom: 27px;
}
.photodiary h1
{

font-size: 30px;

text-transform: capitalize;

font-weight: 100;

color: #626262;

}

.photodiary h2

{

margin-top: 44px;

margin-bottom: 65px;

font-size: 18px;

font-weight: 100;
}

.photodiary a
{
    text-decoration: none;color: #626262;
}

.Lifestyle
{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.item1
{

width: 45%;
margin-bottom: 80px;
}
.item1 img
{
    width: 100%;
}
.item1 a
{
    display: block;
    margin: 20px 0;
    text-decoration: none;
    color: #b4ad9e;
}
.item1 h1
{

font-size: 30px;
font-weight: 100;
color: #626262;
margin-bottom: 20px;

}
.item1 p
{

font-size: 18px;

font-weight: 100;

color: #626262;
}
